# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Oo]utput/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Recordings/
[Aa]ssets/AssetStoreTools*

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db
desktop.ini

# Crash reports
sysinfo.txt
*.stackdump
crashlytics-build.properties
